body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #0fff13fd;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    text-shadow: 0 0 10px #0ff050, 0 0 20px #0ff050, 0 0 30px #000100; /* Neon effect */
}
.calculator-container {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.calculator-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(15, 255, 80, 0.8);
    width: 280px; /* Fixed width for cards */
    margin: 10px;
    color: #fff;
}
.section-heading {
    font-size: 1.5em;
    color: #0ff050;
    margin-bottom: 15px;
    text-shadow: 0 0 10px #0ff050, 0 0 20px #0ff050, 0 0 30px #0ff050; /* Neon effect */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
label {
    display: block;
    margin: 12px 0;
    color: #ff0;
    font-size: 1.2em;
}
input[type="number"], button {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}
button {
    background-color: #0ff050;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #00a03c;
}
.result {
    font-size: 1.5em;
    margin: 10px 0;
    color: #ff0000; /* Red color for results */
    font-weight: bold;
}
.example {
    font-size: 1.1em;
    color: #f0f0f0;
    margin-bottom: 20px;
    font-family:press 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.download-btn {
    background-color: #ff5722;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
}
.profile {
    position: absolute; /* Positioning the profile in the top right corner */
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px; /* Adjust the size of the GitHub logo */
    height: auto;
    margin-right: 10px; /* Space between logo and name */
}

.profile span {
    color: #178bff; /* Yellow color for the name */
    font-weight: bold; /* Bold text for the name */
}
